@model IEnumerable<Intex.Models.SortingworkOrders>

@{
    ViewBag.Title = "Index";
}

<h2>Sorted Assays</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.Work_Order_Assay_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Work_Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Due)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Work_Order_Assay_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Work_Order_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Due)
        </td>
        <td>

            <input type="button" class="btn btn-info btn-sm" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = item.Database_Number })'" />
        </td>
        <td>
            <input type="button" class="btn btn-info btn-sm" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.Database_Number })'" />
        </td>
        <td>
            <input type="button" class="btn btn-info btn-sm" value="Delete" onclick="location.href='@Url.Action("Delete", new { id = item.Database_Number })'" />
        </td>

    </tr>
}

</table>
