
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" class="btn btn-info btn" value="See All Customers" onclick="location.href='@Url.Action("Index", "Customers")'" />
&nbsp | &nbsp
<input type="button" class="btn btn-info btn" value="See All Orders" onclick="location.href='@Url.Action("ListWork_Orders", "Compound_Receipts")'" />
&nbsp | &nbsp
<input type="button" class="btn btn-info btn" value="See All Materials" onclick="location.href='@Url.Action("ListMaterials", "Engineer")'" />
&nbsp | &nbsp
<input type="button" class="btn btn-info btn" value="See All Compound Orders" onclick="location.href='@Url.Action("Index", "Compound_Receipts")'" />
<br />
@Html.ActionLink("see/edit assays","Index","AssaysAdmin")