
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<input type="button" class="btn btn-info btn" value="See Materials" onclick="location.href='@Url.Action("ListMaterials")'" />
&nbsp | &nbsp
<input type="button" class="btn btn-info btn" value="See Work Orders" onclick="location.href='@Url.Action("ListWork_Orders", "Compound_Receipts")'" />
&nbsp | &nbsp
<input type="button" class="btn btn-info btn" value="Create Work Order Compound Receipt" onclick="location.href='@Url.Action("Create", "Compound_Receipts")'" />
<br />
@Html.ActionLink("See All Requested Assays", "listAssays", "Engineer")
<br />
@Html.ActionLink("see/edit assays", "Index", "AssaysAdmin")
