
@{
    ViewBag.Title = "Index";
}

<center>
    <h2>Welcome! Choose an option to view below:</h2>
</center>



<center>
    <div class="jumbotron">
        <input type="button" class="btn btn-info btn-lg" value="See Materials" onclick="location.href='@Url.Action("ListMaterials")'" />
        <input type="button" class="btn btn-info btn-lg" value="See Work Orders" onclick="location.href='@Url.Action("ListWork_Orders", "Compound_Receipts")'" />
        <input type="button" class="btn btn-info btn-lg" value="Create Compound Receipt" onclick="location.href='@Url.Action("Create", "Compound_Receipts")'" />
    </div>
</center>
@Html.ActionLink("See All compound receipts", "Index", "Compound_Receipts")
<br />
@Html.ActionLink("See scheuled Requested Assays", "listAssays", "Engineer")
<br />
@Html.ActionLink("see/edit assays", "Index", "AssaysAdmin")
