@model IEnumerable<Intex.Models.Materials>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="button" class="btn btn-info btn" value="Create New" onclick="location.href='@Url.Action("CreateMaterial")'" />

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Material_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Material_Name)
        </td>
        <td>
            <input type="button" class="btn btn-info btn" value="Edit" onclick="location.href='@Url.Action("EditMaterial", new { id = item.Material_ID })'" />
            &nbsp | &nbsp
            <input type="button" class="btn btn-info btn" value="Details" onclick="location.href='@Url.Action("DetailsMaterial", new { id = item.Material_ID })'" />
            &nbsp | &nbsp
            <input type="button" class="btn btn-info btn" value="Delete" onclick="location.href='@Url.Action("DeleteMaterial", new { id = item.Material_ID })'" />
        </td>
    </tr>
}

</table>
