@model IEnumerable<Intex.Models.Work_Order_Assays>

@{
    ViewBag.Title = "Index";
}

<h2>Work Order Assay</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Work_Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_results)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Work_Order_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_results)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Work_Order_Assay_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Work_Order_Assay_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Work_Order_Assay_ID })
        </td>
    </tr>
}

</table>
