@model IEnumerable<Intex.Models.Assays>

@{
    ViewBag.Title = "Index";
}

<h2>Assays</h2>

<p>
    <input type="button" class="btn btn-info btn" value="Create New" onclick="location.href='@Url.Action("Create")'" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Abbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Base_Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Abbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Base_Price)
        </td>
        <td>

            <input type="button" class="btn btn-info btn-sm" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = item.Assay_ID })'" />
        </td>
        <td>
            <input type="button" class="btn btn-info btn-sm" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.Assay_ID })'" />
        </td>
        <td>
            <input type="button" class="btn btn-info btn-sm" value="Delete" onclick="location.href='@Url.Action("Delete", new { id = item.Assay_ID })'" />
        </td>

    </tr>
}

</table>
