<h2>This is our freaking sick company that you should buy stuff from.  We know science better than your mom.</h2>
<center>
    <h2>Check out all of these freaking sick buttons:</h2>
</center>

<center>
    <div class="jumbotron">
        <input type="button" class="btn btn-info btn-lg" value="Customers" onclick="location.href='@Url.Action("Index", "Customers")'" />
        <input type="button" class="btn btn-info btn-lg" value="Orders" onclick="location.href='@Url.Action("ListWork_Orders", "Compound_Receipts")'" />
        <input type="button" class="btn btn-info btn-lg" value="Materials" onclick="location.href='@Url.Action("ListMaterials", "Engineer")'" />
        <input type="button" class="btn btn-info btn-lg" value="Compound Orders" onclick="location.href='@Url.Action("Index", "Compound_Receipts")'" />
        <input type="button" class="btn btn-info btn-lg" value="See Profile" onclick="location.href='@Url.Action("Details", new { id = Model.Customer_ID })'" />
        <input type="button" class="btn btn-info btn-lg" value="Create Order" onclick="location.href='@Url.Action("Create", "Work_Orders")'" />
        <input type="button" class="btn btn-info btn-lg" value="See Personal Orders" onclick="location.href='@Url.Action("Index", "Work_Orders")'" />
        <input type="button" class="btn btn-info btn-lg" value="See Materials" onclick="location.href='@Url.Action("ListMaterials")'" />
        <input type="button" class="btn btn-info btn-lg" value="See Work Orders" onclick="location.href='@Url.Action("ListWork_Orders", "Compound_Receipts")'" />
        <input type="button" class="btn btn-info btn-lg" value="Create Work Order Compound Receipt" onclick="location.href='@Url.Action("Create", "Compound_Receipts")'" />
    </div>
</center>

