@model IEnumerable<Intex.Models.Compound_Receipts>

@{
    ViewBag.Title = "Index";
}

<h2>Compound Receipts</h2>

<p>
    <input type="button" class="btn btn-info btn" value="Add compound receipt" onclick="location.href='@Url.Action("Create")'" />

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("LT Number")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compound_Sequence_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compound_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Arrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Received_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Due)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.Appearance)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.Indicated_Weight)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.Molecular_Mass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual_Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmation_Date)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.Confirmation_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Work_Order_ID)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compound_Sequence_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compound_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Arrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Received_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Due)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Appearance)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Indicated_Weight)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Molecular_Mass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual_Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmation_Date)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Confirmation_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Work_Order_ID)
        </td>

        <td>

            <input type="button" class="btn btn-info btn-sm" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = item.Compound_Receipt_ID })'" />
        </td>
        <td>
            <input type="button" class="btn btn-info btn-sm" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.Compound_Receipt_ID })'" />
        </td>
        <td>
            <input type="button" class="btn btn-info btn-sm" value="Delete" onclick="location.href='@Url.Action("Delete", new { id = item.Compound_Receipt_ID })'" />
        </td>
        <td>
            <input type="button" class="btn btn-info btn-sm" value="Send Report" onclick="location.href='@Url.Action("SendReceipt", new { id = item.Compound_Receipt_ID })'" />
        </td>
    </tr>
}

</table>
