@model Intex.Models.Assays

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assays</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assay_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assay_Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay_Abbreviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assay_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assay_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay_Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Base_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Base_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Array_Results)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Array_Results)
        </dd>
    </dl>
</div>
<p>
    <input type="button" class="btn btn-info btn" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.Assay_ID })'" />
    &nbsp | &nbsp
    <input type="button" class="btn btn-info btn" value="Back to List" onclick="location.href='@Url.Action("Index")'" />
</p>
