@model IEnumerable<Intex.Models.Assays>

@{
    ViewBag.Title = "SeeAssayOnTest";
}

<h2>Assays included on this work order.</h2>

<p>
    <input type="button" class="btn btn-info btn" value="Add Assay" onclick="location.href='@Url.Action("Index", new { id = ViewBag.ID })'" />

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Cost)
        </td>
        <td>
            <input type="button" class="btn btn-info btn" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.Assay_ID })'" />
            <!-- Add ability for them to delete an assay from their work order-->
        </td>
    </tr>
}

</table>
