<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">

                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Northwest Labs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Engineer", "Index", "Engineer")</li>
                    <li>@Html.ActionLink("Customer", "Home", "Customers")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                </ul>
                <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="Url.Action("Login", "Home", new { id = 1})">Customer</a>
                <a class="dropdown-item" href="Url.Action("Login", "Home", new { id = 2})">Engineer</a>
                <a class="dropdown-item" href="Url.Action("Login", "Home", new { id = 3})">Admin</a>
            </div>
        </li>
            -->
            </div>

            <!--<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            Html.ActionLink("Engineer", "Index", "Engineer")
            <br />
            Html.ActionLink("Customer", "Home", "Customers")
            <br />
            Html.ActionLink("Admin", "Home", "Admin")
        </ul>
    </div>-->

            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Create", "Customers")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>